li {
  cursor: pointer;
  width: 100%;
}

.autocomplete {
  position: absolute;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  z-index: 5;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
